NODE_ENV=development
PORT=3000

# Add database name before ? e.g. .../nanny_app?appName=Cluster0
MONGO_URI=mongodb://localhost:27017/nanny_app

JWT_ACCESS_SECRET=replace_with_64_char_random_string
JWT_REFRESH_SECRET=replace_with_another_64_char_random_string
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=30d

OTP_EXPIRY_SECONDS=300
MAX_OTP_ATTEMPTS=5

# Leave blank in dev - OTP will be 123456 printed to console
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
MSG91_SENDER_ID=NANNY

# Leave blank in dev - payments auto-confirm
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

CORS_ORIGIN=http://localhost:3000
